@page "/"
@using BlazorStrap;


<div class="container">
    <div class="row eventgrid-header-row">
        <div class="col-12 d-flex align-items-center">
            <span class="eventgrid-viewer-blazor-title">
                <img src="images/eventgrid.png" height="47" width="90" alt="Azure Event Grid">EventGrid Viewer <i>Blazor</i>
            </span>
            <span role="button" title="Clear Screen" class="trash-icon-spacing">
                <i class="fa fa-trash fa-3x eventgrid-viewer-blazor-button" aria-hidden="true" @onclick="RemoveAll"></i>
            </span>
        </div>
    </div>
</div>

<hr class="mt-5 mb-5" />

<div class="accordion" id="eventGridAccordion">
    @if (Models != null)
    {
        @foreach (var model in Models)
        {
            <BSAccordion @key="@model.EventGridViewerEventId">
                <BSAccordionItem>
                    <Content>
                    <BSCard>
                        <BSCardHeader>
                            <BSButton Color="BSColor.Light" 
                                      DataBSTarget="@($"#collapse-{model.EventGridViewerEventId}")"
                                      DataBSToggle="collapse"
                                      Class="text-start w-100">
                                @model.EventType - @model.Subject
                            </BSButton>
                        </BSCardHeader>
                        <BSCollapse Id="@($"collapse-{model.EventGridViewerEventId}")">
                            <BSCardBody>
                                <BSCardText>
                                    <pre><code class="language-json">@model.Data</code></pre>
                                </BSCardText>
                                <div class="mt-3">
                                    <span role="button" title="Copy Data">
                                        <i class="fa fa-copy fa-3x eventgrid-viewer-blazor-button" 
                                           aria-hidden="true" 
                                           @onclick="@(() => onCopyClick(model.Data))"></i>
                                    </span>
                                </div>
                            </BSCardBody>
                        </BSCollapse>
                    </BSCard>
                </Content>
            </BSAccordionItem>
        </BSAccordion>
        }
    }
</div>