@page "/"
@using BlazorStrap;


<div class="container">
    <div class="row">
        <div class="col-8">
            <span class="eventgrid-viewer-blazor-title"><img src="images/eventgrid.png" height="47" width="90" alt="Azure Event Grid">EventGrid Viewer <i>Blazor</i></span>
        </div>
        <div class="col-4">
            <span role="button" title="Clear Screen"><i class="fa fa-trash fa-3x eventgrid-viewer-blazor-button" aria-hidden="true" @onclick="RemoveAll"></i></span>
        </div>
    </div>
</div>

<hr class="mt-5 mb-5" />

<div class="accordion">
    <BSCollapseGroup>
        @foreach (var model in Models)
        {
            <BSCollapseItem @key="@model.EventGridViewerEventId">
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Header">
                        <BSCollapseToggle IsLink="true">@model.EventType - @model.Subject</BSCollapseToggle>
                    </BSCard>
                    <BSCollapse>
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Text"><pre><code class="language-json">@model.Data</code></pre></BSCard>
                            <span role="button" title="Copy Data"><i class="fa fa-copy fa-3x eventgrid-viewer-blazor-button" aria-hidden="true" @onclick="@(() => onCopyClick(model.Data))"></i></span>
                        </BSCard>
                    </BSCollapse>
                </BSCard>
            </BSCollapseItem>
        }
    </BSCollapseGroup>
</div>